<!doctype html>
<html lang="en" ng-app="Twitter">
<head>
	<meta charset="utf-8">
	<title><%= title %></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='/stylesheets/TweetList.css' />

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
	<script src="//platform.twitter.com/widgets.js"></script>
	<script src="/javascripts/TweetList.js"></script>
	<script src="/javascripts/ng-flags.js"></script>
	<link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css" />
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<flag country="fr" size="16"></flag>
		<a class="navbar-brand" ui-sref="/">Présidentielles Françaises</a>
	</div>
	<ul class="nav navbar-nav">
		<li><a ui-sref="home">Home</a></li>
		<li><a ui-sref="fillon">Fillon</a></li>
	</ul>
</nav>

<div ui-view></div>
</body>
</html>
